# Visual Studio
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# Build folders (внутри проектов)
External/Release/
External/Debug/
External/x86/
External/x64/
Internal/Release/
Internal/Debug/
Internal/x86/
Internal/x64/

# Build output
*.obj
*.pdb
*.ilk
*.iobj
*.ipdb
*.log
*.tlog
*.recipe
*.lastbuildstate

# Node modules
/node_modules/
/package-lock.json

# Environment
/.env

# Logs
*.log
